<div class="container" >
  <h2 class="text-center">机器列表</h2>
  <div class="hh"><%= link_to("进入后台",admin_equibs_path,class: "btn btn-info btn-md pull-right")%></div>
<br/><hr/>

  <div class="" style="overflow-x: auto; overflow-y: auto;">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>图片</th>
                <th>机器名称</th>
                <th>所属部门</th>
                <th>存放位置</th>
                <th>机器型号</th>
                <th>购入日期</th>

            </tr>
        </thead>
        <tbody>
            <% @equibs.each do |equib| %>
            <tr>
                <td><%= equib.id %></td>
                <td>
                    <%= link_to equib_path(equib) do %>
                    <% if equib.image.present? %>
                    <%= image_tag(equib.image.thumb.url, class: "thumbnail  haha3")%>
                <% else %>
                    <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail  haha3")%>
                    <% end %>
                    <% end %>
                </td>

                <td><%= link_to(equib.title,equib_path(equib))%></td>
                <td><%= equib.department %></td>
                <td><%= equib.position %></td>
                <td><%= equib.model%></td>
                <td><%= equib.purchase_date%></td>

            </tr>
            <% end %>
        </tbody>
    </table>
  </div>
  <span>

</div>
